configuration {
  width: 600;
  show-icons: true;
  icon-theme: "papirus";
  lines: 12;
  columns: 1;
  font: "Lexend Deca 12";
  bw: 0;
  padding: 100;
  eh: 1;
  auto-select: false;
  line-margin: 18;
  separator-style: "solid";
  hide-scrollbar: true;
}
@theme "~/.cache/wal/colors-rofi-light.rasi"





